.tags-container {
    display: flex;
    gap: 0.5em;
    --overflow: auto;
    flex-wrap: wrap;
    width: min-content;
}
.tags-container > span {
    min-width: 2em;
    width: max-content;
    border: 1px solid;
    --padding-left: 5px;
    border-radius: 0.25em;
    position: relative;
    text-align: center;
    padding-right: 2em;
    padding-bottom: 0.5em;
    height: fit-content;
    max-height: 1em;
}

.tags-container > span > span {
    --font-size: 50%;
}