.menu-item-options {
    display: flex;
    font-size: 80%;
    justify-content: space-around;
}
.menu-item-container{
    box-shadow: 0 0 4px silver;
    width: max-content;
    height: max-content;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item-option {
    border-radius: 2px;
    --border: 1px dotted var(--text-color);
    padding: .2em;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    gap: 2px;
    opacity: 0.9;
    box-shadow: 0 0 2px silver;
}

.menu-item-option:hover,.selected {
    opacity: 1;
}

.menu-item-option-volume {
    font-weight: bold;
}
.menu-item-option-price {
    --font-size: 75%;
}

.menu-item-admin-container {
    display: grid;
    grid-template-rows: auto auto;
    width: max-content;
    border: 1px dotted;
    border-radius: .2em;
    padding: .2em;
    padding-top: .6em;
}

.menu-item-admin-options-list-container {
    height: max-content;
    --max-height: 15em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu-item-admin-options-list {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}

.menu-item-admin-options-list > span {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: auto auto;
    gap: 0.2em;
}

.menu-item-admin-options-list > span > :first-child {
    --max-width: 9em;
    grid-column: 1 / 3;
}

.menu-item-admin-options-list > span > input {
    width: 100%;

}