.lang-selector-container {
    font-family: 'Raleway', sans-serif;
    display: flex;
    gap: .2em;
    position: absolute;
    top: .2em;
    right: .2em;
    color: var(--tiramisu-color);
    font-size: .8em;
}

.lang-selector-container span {
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}
.lang-selector-container span.selected {
    font-weight: 900;
    color: var(--crnacokolada-color);
}

.lang-selector-container span:hover:not(.selected) {
    background-color: var(--kakao-color);
    border-color: var(--kakao-color);
    cursor: pointer;
}