.logo-container {
    --padding: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 6em 1fr;
    text-align: left;
    gap: .2em;
}

.logo-container > div {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    --box-shadow: 0 0 .5em .2em silver;
    font-size: 5em;
    color: var(--crnacokolada-color);
    text-align: center;
}

@media (width < 768px)  {
    .logo-container {
        grid-template-columns: 3em auto;
    }
    .logo-container > div {
        font-size: 2.5em;
    }
   
}


.logo-container > div > img {
    max-height: 100%;
    max-width: 100%;
}
