.preview-container {
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 768px;
    display: grid;
    grid-template-rows: 100px auto auto 1fr;
    border: 1px solid var(--tiramisu-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--tiramisu-color);
    position: relative;
    gap:.2em;
}

@media (width < 768px) or (height < 768px) {
    .preview-container {
        grid-template-rows: 50px auto auto 1fr;
    }
}

.preview-contacts {
    display: flex;
    --flex-flow: column nowrap;
    --align-items: end;
    justify-content: end;
    gap: 1em;
}

@media (orientation: landscape) {
    .preview-contacts {
        flex-flow: row nowrap;
        align-items: center;
    }
}

.preview-navi {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.preview-content {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: baseline;
    --padding: 10px;
    overflow: hidden;
    gap: .5em;
    width: 100%;
    height: 100%;
    --scrollbar-width: thin;
    --scrollbar-color: var(--kakao-color) var(--tiramisu-color);
}

.button-left-right {
    color: var(--kakao-color);
    cursor: pointer;
    width: 2em;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-left-right:hover {
    border: 1px solid var(--tiramisu-color);
}   